html {
  font-family: sans-serif;
  color: black;
}

body {
  margin: 0;
}

h1 {
  font-size: 100px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
