html {
  box-sizing: border-box;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
  background-color: #ffc600;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.panels {
  display: flex;
  justify-content: stretch;
  min-height: 100vh;
  overflow: hidden;
}

.panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #6B0F9C;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex-grow 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}

.panel.js_open {
  flex-grow: 5;
  font-size: 40px;
}

.panel--1 {
  background-image: url(./img/1.jpg);
}

.panel--2 {
  background-image: url(./img/2.jpg);
}

.panel--3 {
  background-image: url(./img/3.jpg);
}

.panel--4 {
  background-image: url(./img/4.jpg);
}

.panel--5 {
  background-image: url(./img/5.jpg);
}

.panel p {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
  text-shadow:
    0 0 4px rgba(0, 0, 0, 0.72),
    0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
  font-family: "Amatic SC", cursive;
  transition: transform 0.5s;
}

.panel p:nth-child(1) {
  transform: translateY(-100%);
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel p:nth-child(3) {
  transform: translateY(100%);
}

.panel.js_active p:nth-child(1) {
  transform: translateY(0);
}

.panel.js_active p:nth-child(3) {
  transform: translateY(0);
}
