*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  padding-top: 100px;
  font-family: sans-serif;
  background-image:
    linear-gradient(45deg, hsl(340 100% 55%) 0%, hsl(340 100% 55% / 0) 70%),
    linear-gradient(135deg, hsl(225 95% 50%) 10%, hsl(225 95% 50% / 0) 80%),
    linear-gradient(225deg, hsl(140 90% 50%) 10%, hsl(140 90% 50% / 0) 80%),
    linear-gradient(315deg, hsl(35 95% 55%) 100%, hsl(35 95% 55% / 0) 70%);
}

a {
  border-radius: 20px;
  text-decoration: none;
  color: black;
  background-color: rgb(0 0 0 / 0.05);
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  font-size: 20px;
  line-height: 2;
}

.highlight {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-bottom: 2px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
  transition: all 0.2s;
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 100px;
  padding-left: 0;
  list-style-type: none;
}

.menu a {
  display: inline-block;
  margin: 0 20px;
  padding: 5px;
  color: black;
}
