doctype html
html
  head
    title
      block title
      | ExpressApp
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon' href='/favicon.svg')
    block head-extension
  body
    block content
