-
  const links = [
    {
      label: 'Главная',
      href: '/',
    },
    {
      label: 'Чат',
      href: '/chat',
    },
    {
      label: 'Пользователи',
      href: '/users',
    },
    user ? ({
      label: 'Выйти',
      href: undefined,
      class: 'main-nav__logout-link'
    }) : ({
      label: 'Войти',
      href: '/login',
    })
  ];

nav.main-nav
  ul.main-nav__list
    each link in links
      li.main-nav__item
        a(href=link.href, id=link.id, class=link.class) #{link.label}
script(type='module').
  const $logout = document.querySelector('.main-nav__logout-link');

  if ($logout) {
    $logout.addEventListener('click', async () => {
      try {
        await window.fetch('/logout', {
          method: 'POST',
        });
        window.location.href = '/';
      } catch {
        window.alert('Не удалось выйти, попробуйще ещё раз');
      }
    });
  }
