extends _layout

block title
  = 'Login | '

block head-extension
  script(type='module', src='/js/login.js')

block content
  include ./_nav.pug
  main.main-content
    h1 Регистрация и вход
    p Введите имя пользователя. Если такого пользователя нет, он будет создан.
    form.login-form
      label.login-form__field Введите логин
        input.login-form__input(type='text', name='username')
      label.login-form__field Введите пароль
        input.login-form__input(type='password', name='password')
      button.login-form__button(type='submit') Войти
      p.login-form__error
