html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:where(h1) {
  margin-block: 0;
}

:where(ul) {
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

:where(p) {
  margin-block: 0;
}

:root {
  --color-green: #34bf49;
  --color-white: white;
}
