*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  font-family: sans-serif;
  background-color: #3bc1ac;
  background-image:
    radial-gradient(circle at 100% 150%, #3bc1ac 24%, #42d2bb 25%, #42d2bb 28%, #3bc1ac 29%, #3bc1ac 36%, #42d2bb 36%, #42d2bb 40%, transparent 40%, transparent),
    radial-gradient(circle at 0 150%, #3bc1ac 24%, #42d2bb 25%, #42d2bb 28%, #3bc1ac 29%, #3bc1ac 36%, #42d2bb 36%, #42d2bb 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, #42d2bb 10%, #3bc1ac 11%, #3bc1ac 23%, #42d2bb 24%, #42d2bb 30%, #3bc1ac 31%, #3bc1ac 43%, #42d2bb 44%, #42d2bb 50%, #3bc1ac 51%, #3bc1ac 63%, #42d2bb 64%, #42d2bb 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, #42d2bb 5%, #3bc1ac 6%, #3bc1ac 15%, #42d2bb 16%, #42d2bb 20%, #3bc1ac 21%, #3bc1ac 30%, #42d2bb 31%, #42d2bb 35%, #3bc1ac 36%, #3bc1ac 45%, #42d2bb 46%, #42d2bb 49%, transparent 50%, transparent),
    radial-gradient(circle at 0 50%, #42d2bb 5%, #3bc1ac 6%, #3bc1ac 15%, #42d2bb 16%, #42d2bb 20%, #3bc1ac 21%, #3bc1ac 30%, #42d2bb 31%, #42d2bb 35%, #3bc1ac 36%, #3bc1ac 45%, #42d2bb 46%, #42d2bb 49%, transparent 50%, transparent);
  background-size: 100px 50px;
}

.voiceinator {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 50rem;
  overflow: hidden;
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 0.1);
}

h1 {
  width: calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding: 0.5rem;
  background-color: #ffc600;
  border-bottom: 5px solid #f3c010;
  font-weight: 100;
  font-size: 5rem;
  font-family: "Pacifico", cursive;
  text-align: center;
  text-shadow: 3px 3px 0 #f3c010;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  display: block;
  margin: 10px 0;
  width: 100%;
  border-style: none;
  padding: 10px;
  font-size: 2rem;
  background-color: #f7f7f7;
  outline: 0;
}

textarea {
  height: 20rem;
}

.voiceinator button {
  position: relative;
  float: left;
  margin-bottom: 0;
  width: 49%;
  border-style: none;
  border-bottom: 5px solid #f3c010;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  background-color: #ffc600;
  cursor: pointer;
}

.voiceinator button:active {
  top: 2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
