:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border-style: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    background-color: #535bf2;
  }

  &:is(:focus, :focus-visible) {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.form {
  display: grid;
  row-gap: 2rem;
}

.fieldset {
  display: grid;
  row-gap: 1rem;
  padding: 0.75rem;
}

.field {
  display: grid;
  row-gap: 0.5rem;
}

.field__line {
  display: flex;
  column-gap: 1rem;
}

.field__error {
  color: red;
}
